body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: white;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 3px 10px 0px gray;
}
.container {
  margin-left: 50px;
}
.logo-img {
  margin-top: 10px;
  margin-left: 50px;
  padding-bottom: 10px;
  height: 65px;
  box-shadow: 20px;
}
.navigation-container {
}
.navigation {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.navigation-list {
  display: flex;
}
.navigation-item {
}
.navigation-item-text {
  text-decoration: none;
  margin-right: 100px;
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.search-button {
  margin: 0px 70px;
  margin-left: 160px;
}
.project-solution-section {
  margin-top: 50px;
}
.project-solution {
  width: 1770px;
  height: 620px;
  background: url(./img/subheader-image.png);
  border-radius: 32px;
}
.project-solution-title {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: white;
  padding-left: 80px;
  padding-top: 100px;
}
.project-solution-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: white;
  padding-left: 80px;
  padding-top: 24px;
}
.project-solution-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 37px;
  background-color: #ff9900;
  border-radius: 16px;
  width: 200px;
  height: 40px;
  margin-left: 80px;
  margin-top: 90px;
}
.solution-button-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: white;
}
.about-us-title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 50px;
}
.about-us-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 1235px;
  margin-bottom: 50px;
}
.about-us-left-image-container {
  position: relative;
  width: 868px;
  height: 622px;
  left: 0px;
  top: 0px;
  background: url(./img/about-us-image.png);
  border-radius: 32px;
  
}
.left-image-text {
  width: 433px;
  height: 96px;
  left: 50px;
  top: 476px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.about-us-left-image-content {
  display: flex;
  justify-content: space-between;
 position: absolute;
 width: 818px;
 height: 96px;
 left: 0px;
 top: 426px;
 background: rgba(0, 0, 0, 0.5);
 border-radius: 32px;
 padding-left: 50px;
 padding-top: 50px;
 padding-bottom: 50px;
 
}
.about-us-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 3px solid #ff9900;
  border-radius: 16px;
  width: 175px;
  height: 60px;
  margin-right: 50px;
}
.about-us-button-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
