body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: white;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 3px 10px 0px gray;
}
.container {
  width: 1770px;
  margin-left: 50px;
}
.logo-img {
  margin-top: 10px;
  margin-left: 50px;
  padding-bottom: 10px;
  height: 65px;
  box-shadow: 20px;
}
.navigation-container {
}
.navigation {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.navigation-list {
  display: flex;
}
.navigation-item {
}
.navigation-item-text {
  text-decoration: none;
  margin-right: 100px;
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.search-button {
  margin: 0px 70px;
  margin-left: 160px;
}
.project-solution-section {
  margin-top: 50px;
}
.project-solution {
  width: 1770px;
  height: 620px;
  background: url(./img/subheader-image.png);
  border-radius: 32px;
}
.project-solution-title {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: white;
  padding-left: 80px;
  padding-top: 100px;
}
.project-solution-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: white;
  padding-left: 80px;
  padding-top: 24px;
}
.project-solution-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 37px;
  background-color: #ff9900;
  border-radius: 16px;
  width: 200px;
  height: 40px;
  margin-left: 80px;
  margin-top: 90px;
}
.solution-button-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: white;
}
.about-us-block-container {
  display: flex;
}
.about-us-title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 50px;
}
.about-us-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 1235px;
  margin-bottom: 50px;
}
.about-us-left-image-container {
  position: relative;
  width: 868px;
  height: 622px;
  left: 0px;
  top: 0px;
  background: url(./img/about-us-image.png);
  border-radius: 32px;
}
.left-image-text {
  width: 433px;
  height: 96px;
  left: 50px;
  top: 476px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.about-us-left-image-content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 808px;
  height: 96px;
  left: 0px;
  top: 426px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-us-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 3px solid #ff9900;
  border-radius: 16px;
  width: 175px;
  height: 60px;
  margin-right: 50px;
}
.about-us-button-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
.about-us-right-image-container {
  display: flex;
}
.about-us-cube-image {
  margin-left: 50px;
  width: 190px;
  height: 165px;
}
.about-us-right-title {
  width: 452px;
  height: 29px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.about-us-right-subtitle {
  width: 450px;
  height: 128px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.right-text-container {
  margin-left: 50px;
}
.right-image-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 295px;
  background: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 32px;
  margin-left: 50px;
  padding-right: 118px;
}
.steps-nav {
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.steps-item-text {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.how-we-work-title {
  margin-top: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.how-we-work-subtitle-text {
  width: 758px;
  height: 352px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.how-we-work-first-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  background: #ff9900;
  border-radius: 16px;
  text-decoration: none;
}
.how-we-work-first-button-text {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.how-we-work-second-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 145px;
  margin-left: 32px;
  border: 1px solid #000000;
  border-radius: 16px;
  text-decoration: none;
}
.how-we-work-second-button-text {
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.button-hww-container {
  display: flex;
  margin-top: 20px;
}
.hww-image {
  position: absolute;
  top: 1940px;
  left: 950px;
  width: 870px;
  height: 460px;
  border-radius: 32px;
}
.FAQ-line {
  color: grey;
}
.FAQ-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 39px;
  margin-bottom: 39px;
}
.FAQ-plus-image {
  width: 50px;
  height: 50px;
}
.FAQ-question-text {
  font-weight: 700;
  font-size: 24px;
}
.footer-container {
  background-color: black;
  position: absolute;
  width: 1864px;
  margin-top: 100px;
}
.footer-logo {
  width: 224px;
  height: 72px;
  margin-left: 50px;
  margin-top: 50px;
}
.footer-option-container {
  margin-left: 50px;
  margin-top: 20px;
}
.footer-option-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #cacaca;
  margin-top: 6px;
}
.footer-option-link {
  text-decoration: none;
}
.footer-icon-container {
  margin-left: 25px;
  margin-top: 90px;
  padding-bottom: 50px;
}
.footer-icon {
  margin-left: 25px;
}
.footer-icon-link {
  text-decoration: none;
}
.application-block {
}
.application-text {
  position: absolute;
  width: 408px;
  height: 59px;
  left: 700px;
  top: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #cacaca;
}
.footer-fullname-input {
  position: absolute;
  width: 570px;
  height: 60px;
  left: 700px;
  top: 125px;
  background: #414141;
  border-radius: 16px;
  outline: none;
  color: grey;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding-left: 30px;
}
.footer-email-input {
  position: absolute;
  width: 570px;
  height: 60px;
  left: 700px;
  top: 215px;
  background: #414141;
  border-radius: 16px;
  outline: none;
  color: grey;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding-left: 30px;
}
.footer-textarea {
  position: absolute;
  width: 570px;
  height: 150px;
  left: 700px;
  top: 315px;
  background: #414141;
  border-radius: 16px;
  outline: none;
  color: grey;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding-left: 30px;
  padding-top: 30px;
}
.footer-button {
}
.footer-button-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 269px;
  height: 58px;
  left: 700px;
  top: 520px;
  background: #ff9900;
  border-radius: 16px;
  color: white;
}
.footer-text {
  position: absolute;
  width: 363px;
  height: 320px;
  left: 1430px;
  top: 137px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}
/* hover-active-focus section */
.navigation-item-text:hover {
  color: #ff9900;
}
.project-solution-button:hover {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 37px;
  background-color: #ffb84d;
  border-radius: 16px;
  width: 200px;
  height: 40px;
  margin-left: 80px;
  margin-top: 90px;
}
.project-solution-button:active {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 37px;
  background-color: #e1670e;
  border-radius: 16px;
  width: 200px;
  height: 40px;
  margin-left: 80px;
  margin-top: 90px;
}
.about-us-button:hover {
  background-color: #ff9900;
}
.about-us-button:active {
  background-color: #e1670e;
  border: 3px solid #e1670e;
}
.steps-item-text:hover {
  color: #ff9900;
}
.how-we-work-first-button:hover {
  background-color: #ffb84d;
}
.how-we-work-first-button:active {
  background-color: #e1670e;
  border: 3px solid #e1670e;
}
.how-we-work-second-button:hover {
  background-color: #666666;
  color:white
  
}
.how-we-work-second-button:active {
  background-color: black;
  color:white
  
}
.footer-button:hover {
  background-color: #ffb84d;
}
.footer-button:active {
  background-color: #e1670e;
  border: 3px solid #e1670e;
}



